h2{
    text-align: center;
}

.bg{
    background-color: #FFE4CF;
    height: 100vh;
}

.align{
    text-align: center;

}

.a{
    display: flex;
    justify-content: center;
  }
  .b{
    margin-left: 260px;
  }