.bg{
    background-color: #FFE4CF;
    height: 100vh;
}
.host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .a{
    display: flex;
    justify-content: center;
  }
  .b{
    margin-left: 260px;
  }

 